<app-nav></app-nav>
<div class="banner">
 <div class="contenido">
  <h1>RENTCAR CVR</h1>
  <p>Enjoy maximum flexibility with penalty-free cancellation on most car rentals.</p>
  <div>
    <a href="" [routerLink]="['/vehiculos']" routerLinkActive="router-link-active" ><button type="button" class="botones">Vehiculos</button></a>
    
  </div>
 </div>
</div>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4">Hello,  {{ nombreUsuario }}! <br> Looking for a car?</h2>
      <p class="lead">Descubre y elige el carro que prefieras.</p>

      <img src="/assets/camaro-removebg-preview.png">

    </div>
  </div>

 


  

  <div class="section">
    <div class="container-section">
      <div class="contenido-section">
        <div class="about-us">
          <h2>About us</h2>
        </div>
        <div class="contenido-section">
          <p>Clean cars. <br> Flexible bookings. <br>
             Socially distant rental counters.<br>
            No hidden fees, know exactly what you’re paying.</p>
        </div>
      </div>
      <div class="imagen-section">
        <img src="/assets/rental_cars-gris-removebg-preview.png">
      </div>
    </div>
  </div>



   <div class="informacion">
    <h1>Popular Car Types</h1>

    <div class="card-group">
      <div class="card">
        <a href="" [routerLink]="['/vehiculos']" routerLinkActive="router-link-active" ><img class="card-img-top" src="assets/covertible.jpg" alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title"  [routerLink]="['/vehiculos']" routerLinkActive="router-link-active"  >Covertible cars</h5>
        </div>
        
      </div>
      <div class="card">
       <a href="" [routerLink]="['/vehiculos']" routerLinkActive="router-link-active" > <img class="card-img-top" src="assets/suv cars.jpg" alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title"  [routerLink]="['/vehiculos']" routerLinkActive="router-link-active" >SUV cars</h5>
        </div>
        
      </div>
      <div class="card">
        <a href="" [routerLink]="['/vehiculos']" routerLinkActive="router-link-active" ><img class="card-img-top" src="assets/passenger van.jpg" alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title"  [routerLink]="['/vehiculos']" routerLinkActive="router-link-active" >Passenger Van</h5>
        </div>

      </div>
    </div>


    
    <div class="card-group">
      <div class="card">
        <a href="" [routerLink]="['/vehiculos']" routerLinkActive="router-link-active" ><img class="card-img-top" src="/assets/minivan.png" alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title"  [routerLink]="['/vehiculos']" routerLinkActive="router-link-active">Minivan</h5>
        </div>
        
      </div>
      <div class="card">
       <a href="" [routerLink]="['/vehiculos']" routerLinkActive="router-link-active" > <img class="card-img-top" src="/assets/sport car.jpg" alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title"  [routerLink]="['/vehiculos']" routerLinkActive="router-link-active" >Sport car</h5>
        </div>
        
      </div>
      <div class="card">
        <a href="" [routerLink]="['/vehiculos']" routerLinkActive="router-link-active" ><img class="card-img-top" src="/assets/crossover.jpg" alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title"  [routerLink]="['/vehiculos']" routerLinkActive="router-link-active" >Crossover</h5>
        </div>

      </div>
    </div>
   </div>

<app-footer></app-footer>


