
<div class="todo">

<form class="form2">


  <img src="/assets/6-removebg-preview.png">
  <span class="titulo">Login</span>


    <p>Llena estos campos para ingresar</p>

    <div class="separator">
        <hr class="line">
        <p>Username</p>
        <hr class="line">
      </div>
    <input name="usr" required class="input2" type="text" placeholder="username" [(ngModel)]="this.usuario">

    

    <div *ngIf="msgUsuario"  class="alert alert-danger" role="alert"> 
        El usuario no puede estar en blanco 
     </div>

     <div class="separator">
        <hr class="line">
        <p>Password</p>
        <hr class="line">
      </div>
    <input name="msgPassword" required class="input2" type="password" placeholder="password"  [(ngModel)]="password" > 
    
    <div *ngIf="msgPassword" class="alert alert-danger" role="alert">
        La contraseña no puede estar vacia
    </div>

    <p>¿Aún no te has registrado? <a href="" [routerLink]="['/registrarse']" routerLinkActive="router-link-active" >Registrate</a></p>

  
    <div *ngIf="msgIncorrecto" class="alert alert-danger" role="alert">
        El usuario o contraseña estan incorrectos, intenta de nuevo!
    </div>


    <button  (click)="validarLogin()" type="submit" class="boton"> <i class="fas fa-sign-in-alt"></i>
        {{ letrero }}
    </button>    
</form>



</div>



