.form {
   margin: 0 auto;
   margin-top: 15%;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    border-radius: 20px;
    padding: 20px 40px;
    background-color: rgb(41, 41, 41);
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    transition: .2s linear;
    text-align: center;
    color: white;
  }
  
  .form button {
    align-self: flex-end;
    background-color: rgba(78, 119, 0, 0.76);

  }
  
  .form:hover {

    box-shadow: 5px 5px 10px rgb(0, 0, 0);
  }
  
  .input {
    height: 35px;
    width: 100%;
    border: 0.5px solid white;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    transition: .2s linear;
    position: relative;
    color: black;
  }
  
  .input:focus {
    outline: none;
    background-color: rgba(81, 100, 116, 0.39);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.137);
  }
  
  button {
    border: none;
    padding: 4px 10px;
    border-radius: 5px;
    transition: .2s linear;
    background-color:rgb(255, 255, 255);

    

}
  
  button:hover {
    background-color: rgba(255, 255, 255, 0.74);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.37);
  }
  .nomlog{
    text-align: center;
    color:cadetblue;
  }
  

  .alert alert-danger{
    height: 30px;
    width: 100%;

  }
  .todo{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
   
  }




  
  
  